@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    font-family: 'Varela Round', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color:white;
    font-family: 'Ubuntu',sans-serif;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    font-weight: bolder;
    align-items: center;
}
.brand img{
    width: 49px;
    padding: 0 8px;
}

.container{
    height: 72vh;
    font-family: 'Varela Round',sans-serif;
    background-color: black;
    display: flex;
    color: white;
    width: 70%;
    margin: 23px auto;
    padding: 7px;
    border-radius: 12px;
    background-image: url("bg.jpg");
    background-size: cover;
}

.bottom{
    height: 90px;
    background-color: black;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin: 15px ; 
    cursor: pointer;  
}
.icons i{
    padding: 0 3px;
}

#myProgressBar{
    width: 80vw;
}

